@(allUsers:List[String], allGames:List[models.Game], pivot:Map[String,Map[String,Double]], winningsPerUser:Map[String,Double], totalWinned:Double, totalRemaining:Double, shameScores:Map[String,Double])
@if(allGames.size == 0){
    <div class="alert alert-info" role="alert">
        Statisticile vor fi vizibile in momentul in care primul meci va fi validat.
    </div>
}
@if(allGames.size > 0){
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @if(winningsPerUser.toSeq.map(_._2).foldLeft(0.0)(_+_) > 0.0) {
        <div class="row">
            <div class="col-md-6" id="piechart" style="height:350px">Reported per user chart</div>
            <div class="col-md-6" id="piechart2" style="height:350px">Reported / Wins chart</div>
        </div>

        <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);
                  function drawChart() {

                      var data = google.visualization.arrayToDataTable([
                          ['User', 'Castig'],
                          @for(tpl <- winningsPerUser.toSeq.sortBy(_._2).reverse){
                            [' @tpl._1',@tpl._2],
                          }
                      ]);

                      var data2= google.visualization.arrayToDataTable([
                          ['Category', 'RON'],
                          ['Castigat',@totalWinned],
                          ['Reportat',@totalRemaining],
                      ]);

                      var options = {
                          title: 'Castiguri per jucator',
                          pieHole: 0.4,
                          chartArea:{left:20,top:0,width:'90%',height:'90%'},
                          legend:{position: 'bottom', textStyle: {color: 'black', fontSize: 10}}
                      };

                      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                      var chart2 = new google.visualization.PieChart(document.getElementById('piechart2'));

                      chart.draw(data, options);
                      chart2.draw(data2, options);
                  }
        </script>
    }
    @if(winningsPerUser.toSeq.map(_._2).foldLeft(0.0)(_+_) == 0.0) {
        <div class="alert alert-info">
            Au fost reportati pt campioana: @(allGames.size*allUsers.size) RON
        </div>
        <div class="alert alert-warning">
            Toti sunteti niste pierzatori!<br>
            <img src="@routes.Assets.at("images/easterEggs/looser.jpg")" width="100"/>
        </div>
    }


    <table class="tblPivot display">
        <thead>
            <tr>
                <td>User \ Game</td>
                @for(game <- allGames){
                    <td nowrap>
                        <img src="@routes.Assets.at("images/flags/"+Countries.getPicturePath(game.team1))" title="@game.team1">
                        @game.team1Score<br>
                        <img src="@routes.Assets.at("images/flags/"+Countries.getPicturePath(game.team2))" title="@game.team2">
                        @game.team2Score
                    </td>
                }
            </tr>
        </thead>
        <tbody>
            @for(user <- allUsers.sorted){
                <tr>
                    @if(user=="nicu"){
                        <td>Nicu @Seq("Barosanu","Boss de Boss","Cuceritoru","de aur","de la Drobeta","Seksosu","Valorosu")(scala.util.Random.nextInt(7))</td>
                    }
                    @if(user!="nicu") {
                        <td>@user</td>
                    }
                    @for(game <- allGames){
                        <td bgcolor="
                            @{
                                val x = pivot.get(game.key).get.getOrElse(user,0.0)
                                if(x>0){
                                    "#eaffea"
                                }
                                else {
                                    "#ffeaea"
                                }
                            }
                        ">
                            @(math.round(pivot.get(game.key).get.getOrElse(user,0.0)*100)/100.0)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="alert alert-warning" role="alert">
        Indexul rusinii (scor mai mare -> rusine mai mare).<br>
        Se calculeaza ca diferenta intre scorul real si scorul pariat.<br>
        Cand nu ai pariat, se penalizeaza cu 3 puncte.
    </div>

    <table class="tblPivot display">
        <thead>
            <tr>
                <td>User</td>
                <td>Indexul rusinii</td>
            </tr>
        </thead>
        <tbody>
            @for(shameElement <- shameScores){
                <tr>
                    <td>
                        @shameElement._1
                    </td>
                    <td>
                        @shameElement._2
                    </td>
                </tr>
            }
        </tbody>
    </table>

}