@(allUsers:List[String], allGames:List[models.Game], pivot:Map[String,Map[String,Double]])

<table class="tbl display">
    <thead>
        <tr>
            <td>Game</td>
            @for(game <- allGames){
                <td>
                    @game.team1 - @game.team2
                </td>
            }
        </tr>
    </thead>
    <tbody>
        @for(user <- allUsers.sorted){
            <tr>
                <td>@user</td>
                @for(game <- allGames){
                    <td bgcolor="
                        @{
                            val x = pivot.get(game.key).get.getOrElse(user,0.0)
                            if(x>0){
                                "#eaffea"
                            }
                            else {
                                "#ffeaea"
                            }
                        }
                    ">
                        @pivot.get(game.key).get.getOrElse(user,0.0)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>