<h3>
Regulile jocului:
</h3>
<h5>
    <ul>
        <li><font color="#ffc0cb"><b>Nou! Avem grup de whatsapp:</b></font><a href="https://chat.whatsapp.com/DSllk3OM8ELG9H75BGCAut">https://chat.whatsapp.com/DSllk3OM8ELG9H75BGCAut</a> </li>
        <li>Sunt 64 de meciuri si se pariaza 1 RON pe meci</li>
        <li>Taxa de intrare (se duce pt campioana) este de 6 RON</li>
        <li>Total de plata 70 RON</li>
        <li>Ai uitat sa pariezi, tot pierzi banii</li>
        <li>Se pariaza la scor exect (pagina scorurile mele)</li>
        <li>Castigul se va imparti intre toti cei care au nimerit scorul meciului respectiv(de ex, daca sunt 5 castigatori si 20 de pariori => fiecare castigator va primi 20x1ron/5 = 4ron)</li>
        <li>Atentie! Eta-ul pt setarea scorurilor: 10 minute inaintea meciului</li>
        <li>Atentie! Chiar daca uiti sa setezi scorul, trebuie sa platesti</li>
        <li>banii care nu au fost castigati (nimeni nu a ghicit scorul) se reporteaza pt campioana.</li>
        <li>campioana se alege inainte de primul meci (pagina echipa castigatoare)</li>
        <li>va fi vizibil ce au ales ceilalti doar dupa inceperea meciului (atunci nu se mai poate modifica scorul)</li>
        <li>va fi vizibil ce campioana au ales ceilalti dupa 2018-06-14 17:55:00 BUC Time (cu 5 minunte inainte de data inceperii primului meci). Atunci nu se mai poate schimba campioana</li>
        <li>Parolele sunt criptate MD5. Totusi, e mai safe sa nu iti pui parola de la gmail/ldap/paypal</li>
        <li>Nu se pot face modificari ale contului dupa ce a fost creat. (Nici macar parola nu poate fi schimbata)</li>
        <li>Se considera scor final scorul, de la finalul celei de a doua reprize. Nu se pun reprizele de prelugiri sau loviturile de departajare</li>
        <li>Daca nimeni nu castiga la campioana, mergem la fotbal (Voinicelul) si luam bautura</li>
        <li>Pt cei care au reclamatii si sugestii: <a href="@routes.Assets.at("images/formular_reclamatii.jpg")">Aici</a></li>
    </ul>
</h5>
<center>
    <img src="@routes.Assets.at("images/schedule.jpg")" width="95%"/>
</center>
