@(settings:List[(String,String)])
Don't change if you don't know what you're doing.<br>
Some formats are sensitive (ex: dates are always YYYY-MM-DD HH:MM:SS)<br><br>
<table border="1">
    <tr>
        <td>
            Key
        </td>
        <td>
            Value
        </td>
        <td>
            Action
        </td>
    </tr>
    @for(setting <- settings) {
        <tr>
            <td>
                @setting._1
            </td>
            <td>
                @setting._2
            </td>
            <td>
                <a href="@routes.Admin.changeSettingInputPage(setting._1)">Change</a>
            </td>
        </tr>
    }
    </table>
