@(attempts:Int)
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Euro 2016</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <link href="@routes.Assets.at("stylesheets/login.css")" rel="stylesheet">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <form class="form-signin" method="post" action="/login">
                <h2 class="form-signin-heading">Autentificare</h2>
                @if(attempts>0) {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        Autentificare esuata. <br> Incearca din nou. (@attempts)
                    </div>
                }
                <label for="in_user" class="sr-only">Utilizator</label>
                <input type="text" id="in_user" class="form-control" placeholder="Utilizator" name="in_user" required autofocus>
                <label for="in_pass" class="sr-only">Parola</label>
                <input type="password" id="in_pass" class="form-control" placeholder="Parola" name="in_pass" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Autentificare</button>
            </form>
        </div>
    </body>
</html>
